<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book['title'] }} Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="my-4">{{ book['title'] }} Details</h1>
        <div class="card mb-4">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/' + book['image']) }}" class="card-img" alt="{{ book['title'] }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ book['title'] }}</h5>
                        <p class="card-text">Author: {{ book['author'] }}</p>
                        <p class="card-text">Likes: <span id="likes-count">{{ book['likes'] }}</span></p>
                        <button class="btn btn-primary like-btn" data-book-id="{{ book['id'] }}">Like</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="/" class="btn btn-outline-primary">Back to Homepage</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.like-btn').click(function(e) {
                e.preventDefault();
                var bookId = $(this).data('book-id');
                $.ajax({
                    type: 'POST',
                    url: '/like',
                    data: {'book_id': bookId},
                    success: function() {
                        var likesCount = parseInt($('#likes-count').text());
                        $('#likes-count').text(likesCount + 1);
                    }
                });
            });
        });
    </script>
</body>
</html>
