<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Welcome to the Bookstore</h1>
        <div class="row">
            {% for book in books %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/' + book['image']) }}" class="card-img-top" alt="{{ book['title'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book['title'] }}</h5>
                        <p class="card-text">Author: {{ book['author'] }}</p>
                        <p class="card-text">Likes: <span id="likes-count-{{ book['id'] }}">{{ book['likes'] }}</span></p>
                        <button class="btn btn-primary like-btn" data-book-id="{{ book['id'] }}">Like</button>
                        <a href="{{ url_for('book_details', book_id=book['id']) }}" class="btn btn-outline-primary">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.like-btn').click(function(e) {
                e.preventDefault();
                var bookId = $(this).data('book-id');
                $.ajax({
                    type: 'POST',
                    url: '/like',
                    data: {'book_id': bookId},
                    success: function() {
                        var likesCount = parseInt($('#likes-count-' + bookId).text());
                        $('#likes-count-' + bookId).text(likesCount + 1);
                    }
                });
            });
        });
    </script>
</body>
</html>
